/* Blue Variations */
$blue-main: #645BD0;
$blue-secundary: #4C43BD;
$blue-lighter: #4C43BD;

/* Icon Variations */
$icon-main: #645BD0;
$icon-secundary: #9D96F0;

$red: #E94F4F;
$green: #42B5A4;
$yellow: #F3E563;
$white: #fff;