/* Blue Variations */
$blue-main: #645bd0;
$blue-secundary: #4c43bd;
$blue-lighter: #4c43bd;

/* Icon Variations */
$icon-main: #645bd0;
$icon-secundary: #9d96f0;

$red: #e94f4f;
$green: #42b5a4;
$grey: #c0c0c0;
$grey-secundary: #554b4b;
$grey-tertiary: #a29494;
$yellow: #f3e563;
$white: #fff;
$black: #000;
